.App {
    text-align: center;
    background-color: rgb(3, 215, 235);
    /* background-color: rgb(235, 6, 235); */
    text-shadow: 2px 2px rgba(255, 0, 0, 0.719) , -1px -1px yellow;
    height: 50px;
    font-family:cursive ;
  }
  form{
    background-color: white;
    border: 10px solid black;
    border-style: double;
    border-radius: 15px;
    width:400px;
    height: 280px;
    position: absolute;
    top:25%;
    left: 37%;
  }
  #sign
  {
  font-size: 30px;
  border: 2px solid black;
  background-color: rgb(252, 187, 107);
  height: 45px;
  }
  label
  {
    font-weight: bolder;
  }
  .email
  {
    position: relative;
    font-size:20px;
    left: 7%;
  }
  #in1,#in2
  {
    margin-top: 10px;
    width: 85%;
    height: 35px;
  }
  .clr{
    background-color:rgb(97, 97, 244);
    border-radius: 5px;
  }
  #btnid1
  {
    font-size:large;
    position: relative;
    left: 73%;
    top:10%;
    height: 35px;
    width: 85px;
    background-color: blueviolet;
  }
  #btnid1:hover
   {
    color: white;
    background-color: #19d920
  }